:root{
    --border: var(--white);
}

p span{
    font-size: 2rem;
}

a{
    height: 3rem;
    /* width: 25rem; */
    margin-top: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-self: center;
    display: flex; /*grid*/
    justify-content: center;
    align-items: center;
    background-color: transparent;
    /* border: 2px solid var(--white); */
    color: var(--white);
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 0.75rem;
}

a:hover{
    background-color: var(--green-300);
    color: var(--gray-900);
    transition: 300ms;
}

a:active{
    background-color: var(--green-400);
}

a:hover img{
    /* filter: saturate(0) brightness(1.3); */
    filter: saturate(0) brightness(0.1);
    transition: var(--transition-delay);
}

a img{
    transform: rotateZ(90deg);
    width: 1.5rem;  
    margin-right: 1rem;
}

.back {
    /* background-color: rebeccapurple; */
    display: grid;
    /* display: grid; */
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    position: fixed;
    /* Set the navbar to fixed position */
    bottom: 10rem;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.error {
    /* height: 50vh; */
    /* width: 100vw; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 10rem 3rem 3rem;
    /* animation: MoveUpDown 5s ease-in-out infinite; */
}