:root {
    --white: #eee;
    --gray-900: rgb(17, 24, 39);
    --gray-200: rgb(229, 231, 235);
    --gray-300: rgb(209, 213, 219);
    --yellow: #ffb700;
    --green-300: #6EE7B7;
    --green-400: #34D399;
}

html {
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    padding: 0;
}

.hero {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    /* background: url('../assets/hideout.svg');  */
    background-color: var(--gray-900);
    /* background-size: contain; */
    /* background-repeat:round;
    background-position: center; */
    /* background-blend-mode:difference; */
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    /* height: 50vh; */
    /* width: 100vw; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 10rem 3rem;
    /* animation: MoveUpDown 5s ease-in-out infinite; */
}

h1 {
    background: var(--green-400);
    background: linear-gradient(90deg, var(--green-400) 0%, var(--green-300) 35%, var(--green-400) 100%);
    /* background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-position: 0;
    animation-fill-mode: forwards;*/
    /* animation: Flash 3s linear infinite;  */
    font-size: 10rem;
    padding: 12px 48px;
    text-align: center;
}

p {
    font-size: 1rem;
    color: var(--white);
    text-align: center;
}

.stuff {
    /* background-color: rebeccapurple; */
    display: none;
    /* display: grid; */
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    position: fixed;
    /* Set the navbar to fixed position */
    bottom: 0.75rem;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.stuff img {
    height: 1.5rem;
    justify-self: center;
    /* animation: MoveUpDown 5s ease-in-out infinite; */
    /* padding: 0.5rem; */
    filter: contrast(0) brightness(1.70);
}

.stuff img:hover {
    cursor: pointer;
    filter: contrast(1) brightness(1);
    transition: 200ms;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(-0.25rem);
    }
    50% {
        transform: translateY(0.25rem);
    }
}

@keyframes ScaleUpDown {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.2);
    }
}

@keyframes Flash {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

/* @keyframes shine
  0%
    background-position: 0
  60%
    background-position: 180px
  100%
    background-position: 180px */

.projects {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}