:root {
    --white: #eee;
    --gray-900: #111827;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --yellow: #ffb700;
    --green-300: #6EE7B7;
    --green-400: #34D399;
    --green-500: #10B981;
    font-size: 4px;
}

/* For mobile phones: */

html {
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: red;
    overflow: hidden;
    background-color: var(--gray-900);
}

.hero {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    /* background: url('../assets/hideout.svg');  */ 
    /* background-size: contain; */
    /* background-repeat:round;
    background-position: center; */
    /* background-blend-mode:difference; */
    display: grid;
    justify-content: center;
    align-items: center;
}

h1{
    background: var(--green-400);
    background: linear-gradient(90deg, var(--green-400) 0%, var(--green-300) 35%, var(--green-400) 100%);
    /* background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-position: 0;
    animation-fill-mode: forwards;*/
    /* animation: Flash 3s linear infinite;  */
    font-size: 10rem;
    padding: 12px 48px;
    text-align: center;
    padding: 0;
    animation: MoveUpDown 5s ease-in-out infinite;
    filter: drop-shadow(0.05rem 0.05rem var(--green-500)) drop-shadow(0.1rem 0.1rem var(--green-500)) drop-shadow(0.15rem 0.15rem var(--green-500)) drop-shadow(0.2rem 0.2rem var(--green-500));
}

p {
    font-size: 2rem;
    color: var(--white);
    text-align: center;
}

.container {
    /* height: 50vh; */
    /* width: 100vw; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 10rem 3rem;
    /* animation: MoveUpDown 5s ease-in-out infinite; */
}




/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    :root {
        font-size: 8px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    :root {
        font-size: 12px;
    }
    p {
        font-size: 1.5rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    :root {
        font-size: 16px;
    }
    p {
        font-size: 1rem;
    }
}



.stuff {
    /* background-color: rebeccapurple; */
    display: none;
    /* display: grid; */
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    position: fixed;
    /* Set the navbar to fixed position */
    bottom: 0.75rem;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.stuff img {
    height: 1.5rem;
    justify-self: center;
    /* animation: MoveUpDown 5s ease-in-out infinite; */
    /* padding: 0.5rem; */
    filter: contrast(0) brightness(1.70);
}

.stuff img:hover {
    cursor: pointer;
    filter: contrast(1) brightness(1);
    transition: 200ms;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(-0.3rem);
    }
    50% {
        transform: translateY(0.3rem);
    }
}

@keyframes ScaleUpDown {
    0%{
        transform: scale(0) ;
        opacity: 100%;
    }
    15%{
        transform: scale(1.2);
        opacity: 100%;
    }
    25%{
        /* transform: scale(0); */
        opacity: 0%;
    }
    100%{
        /* transform: scale(0); */
        opacity: 0%;
    }
    
}


.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

